body {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    overflow-y: scroll;
}

body button {
    background-color: #F4CE14;
    color: black;
    padding: 10px 14px;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

button:hover {
    border: 1px solid black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Nav css */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13%;
    border: 1px solid black;
}

nav img.logo {
    padding-top: 0.4em;
}

nav ul li {
    display: inline-block;
    padding: 1em;
    list-style: none;
}

Nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}


.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

#menu-icon {
    display: none;
}


/* Header css  */
Header {
    display: flex;
    background-color: #EDEFEE;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px 13%;
    
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-inline: 5%;
    padding-top: 3%;
    border: 1px solid black;
}

h1 {
    color: #F4CE14;
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

.banner-left p {
    font-size: 20px;
    max-width: 520px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.banner-left button{
    padding: 14px 18px;
    border-radius: 12px;
    font-size: 20px;
}

.banner-right {
    width: 250px;
    height: 350px;
    border: 1px solid red;
    margin-block: 3%;
}



.banner-right img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    z-index: 1;
}


/* Footer css */
Footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-block: 10px;
    padding-inline: 13% 10%;
    /* padding: 10px 13%; */
    border: 1px solid blue;
    
}


Footer div.holder {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
}

Footer div.flist, div.logo-des {
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.logo-des {
    padding-top: 1em;
}

div.logo-des img {
    width: 70%;
}

Footer ul{
    list-style: none;
    padding: 0;
    border: 1px solid black;
}

Footer h3 {
        font-size: 1em;
        border: 1px solid black;
}

/* Menu Css */
div.items {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border: 1px solid black;

}

div.item img {
    width: 300px;
    height: 250px;
}

div.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13%;
    border: 1px solid black;
    /* box-sizing: border-box; */
}

div.week-special {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border: 1px solid black;
}

div.menu button {
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 15px;

}

/* Booking form css */

div.myform {
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 10px 13%;
    border: 1px solid black;
    padding-bottom: 5%;
    background-color: #EDEFEE;
    font-weight: bold;
}

div.myform form {
    border: 1px solid black;
}

div.fitem {
    border: 1px solid black;
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-block: 1%;

}

div.timeError {
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    color: red;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

form input {
    width: 150px;

}

button.form-btn {
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 15px;
}

button.back-btn {
    margin-left: 60%;

}



/*dialogbox css */
div.dialogbox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: 1px solid black;
    border-radius: 16px;
    background-color: lightcyan;
}

div.dialog-btn {
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    width: 60%;

}

div.dialogbox > * {
    border: 1px solid green;
    margin-block: 2%;
}

/* Modals css */
.firstModal, .secondModal {
    width: fit-content;
    height: fit-content;
    background-color: gray;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}


.secondModal button {
    width: 100%;
}


.bFormModal {
    width: 80%;
    height: fit-content;
    background-color: gray;

    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bFormModal button {
    width: 50%;
    margin-inline: 25%;
}


@media only screen and (max-width: 800px) {

    /* Nav css */
    .navbar{
        padding: 0;
        flex-wrap: wrap;
    }

    .navbar img.logo{
        width: 50%;
        height: 50px;
    }

    #menu-icon {
      display: block;
      cursor: pointer;
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;

    }

    .nav-links {
        display: none;
    }

    nav ul li {
        width: auto;
        background-color: black;
        list-style: disc;
        color: green;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        justify-items: center;
        padding-left: 0;
        text-align: center;
        margin-top: 1px;

    }

    nav ul li a {
        color: white;
    }

    div.fitem {
        width: 100%;
    
    }
    /* Footer css */
    Footer {
        padding: 0;
    }
    Footer div.holder {
        padding: 1px 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    Footer div {
        padding-inline: 0;
    
    }

    /* Menu css */
    div.menu {
        padding: 0px ;
        align-items: flex-start;
    }

    div.week-special {
        flex-direction: column;
        align-items: left;
        border: 1px solid green;
        width: 100%;
        box-sizing: border-box;
    }


    div.items {
        width: 100%;
        display: block;
        border: 1px solid blue;
        align-items: left;
        padding-inline: 0%;
        /* padding-block: 1em; */
    }

    div.item {
        padding-left: 5%;
        border: 1px solid green;
        padding-top: 1em;
    }

    /* Header css */
    Header {
        padding: 0;
    }

    Header div.banner-right {
        display: none;
    }

    /* Bookingform css */

    div.timeError {
        width: 100%;
    }

    button.back-btn {
        margin-left: 40%;
    
    }


  }